.error {
    color: red;
}
.good_item {
    list-style-type: none;
}

/*tree*/
.tree-item {
    cursor: pointer;
    line-height: 1.5em;
    list-style-type: none;
}
.tree-item__node {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow_right.png);
}
.tree-item__node.open {
    background-image: url(../img/arrow_expanded.png);
}
.tree-item__node.document {
    background-image: url(../img/document.gif);
    cursor: default;
}
.tree-item__node.loading {
    background-image: url(../img/loader.gif);
    cursor: default;
}

.tree-item__list {
    padding-left: 2em;
}



/*grid*/

.grid-data__table {
    font-size: 14px;
    width: 99%;
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;

    margin: 0 5px 10px;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 2px;
}

.grid-data__table_head th{
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-data__table td {
    background-color: #f9f9f9;
    color: #444;
}

.grid-data__table th,
.grid-data__table td {
    /*min-width: 120px;*/
    padding: 8px 10px;
}

.grid-data__table_head .active {
    color: #fff;
}

.grid-data__table_head.active .arrow {
    opacity: 1;
}

.grid-data__table .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.grid-data__table .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.grid-data__table .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}


.grid-data__paginate_item {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
.demo-grid__search_form {
    margin: 5px 20px 10px;
}
.demo-grid__search_input {
    height: 25px;
}

.grid-data__table_link {
    margin-right: 8px;
}


/*modal*/
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0 auto;
    /*padding: 10px 30px;*/
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    border: 3px solid #42b983;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.modal-container.modalerror {
    border-color: #c6445c;
}
.modal-form__header {
    color: #fff;
    text-align: center;
    padding: 2px;
    margin: 3px 3px;
}
.modal-container .modal-form__header {
    background-color: #42b983;
}
.modal-container.modalerror .modal-form__header {
    background-color: #c6445c;
}
.modal-form__header_text {
    padding: 5px;
    font-size: 18px;
}

.modal-form__body {
    margin: 20px 0;
    text-align: center;
}
.modal-form__footer {
    margin: 15px;
    text-align: center;
}

.modal-form__button {
    width: 80px;
    line-height: 1.8em;
    margin-right: 20px;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

