
    <div class="grid-data" id="grig-data">
        <div class="grid-data__header clearfix">
            <div class="grid-data__tools col-sm-12">
                <ul class="grid-data__tools_list "  v-if="config.actionsCommon.length">
                    <li class="grid-data__tools_item"
                        v-for="action in config.actionsCommon"
                        v-bind:title="action.title"
                        v-on:click.prevent="runCommonAction(action.action, action.message)"
                        v-html="action.value" >
                    </li>
                </ul>
            </div>
        </div>
        <!--таблица-->
        <table class="grid-data__table">
            <thead class="grid-data__table_head">
            <tr>
                <th class="grid-data__table-cell-checkbox" v-if="config.actionsCommon.length">
                    <input id="checkbox-table-header" type="checkbox" v-on:click="headerCheckClick" v-model="checkAll" ><label for="checkbox-table-header"></label>
                </th>
                <th  v-for="(key, index) in config.gridColumns" class="grid-data__table-cell" v-bind:class="{loading: loading[0] == true}">
                     <drop @drop="handleDrop(index, ...arguments)">
                        <drag class="grid-data__table_head-drag" :transfer-data="{moved: index}">
                            <a class="grid-data__table_head_link"
                               v-on:click="(key.sort == null || key.sort != false ?  sortBy(key.key) : null)"
                               v-bind:class="{ active: sortKey == key.key, disable: key.sort == false}" >
                                {{ key.value | capitalize }}
                                <span v-if="key.sort != false" class="arrow" :class="sortOrders[key.key] > 0 ? 'asc' : 'dsc'"> </span>
                            </a>
                        </drag>
                    </drop>
                </th>
                <th class="grid-data__table_head_actions" v-if="config.actions.length">Actions</th>
            </tr>
            </thead>
            <tbody class="grid-data__table_body">
            <tr v-if="searchItems" class="grid-data__table_search">
                <td v-if="config.actionsCommon.length" ></td>
                <td  v-for="(key, index) in config.gridColumns" >
                    <input v-if="key.search != false" class="grid-data__table_search-input" type="text"
                           v-bind:value="key.search" v-model="searchQuery[key.key]" @keyup.enter="makeSearch()">
                </td>
                <td class="grid-data__table_head_actions" v-if="config.actions.length"></td>
            </tr>
            <template v-for="entry in gridData.data">
                <tr>
                    <td class="grid-data__table-cell-checkbox" v-if="config.actionsCommon.length">
                        <input v-if="(config.actionsCommon_disable != '' && entry[config.actionsCommonDisable])"
                               v-bind:id="entry[config.gridColumns[0].key]+'_checkbox_table_row'"
                               type="checkbox" class="disabled" >
                        <input v-else
                               v-bind:id="entry[config.gridColumns[0].key]+'_checkbox_table_row'"
                               type="checkbox" v-model="checkedId"
                               v-bind:value="entry[config.gridColumns[0].key]">
                        <label v-bind:for="entry[config.gridColumns[0].key]+'_checkbox_table_row'"></label>
                    </td>
                    <td class="grid-data__table-cell-content grid-data__table-cell"
                        v-bind:class="{clickable:config.requestContent.url && config.requestContent.key, loading: loading[entry[config.gridColumns[0].key]]}"
                        v-on:click="(config.requestContent.url && config.requestContent.key ? gridDataToggle(entry[config.requestContent.key]) : null)"
                        v-for="key in config.gridColumns">
                        {{entry[key.key]}}
                    </td>
                    <td v-if="config.actions.length">
                        <ul class="grid-data__table_actions_list" >
                            <li class="grid-data__table_actions_item" v-for="action in config.actions"  >
                                    <span v-if="(action.disable != null && entry[action.disable])" class="grid-data__table_actions_label"
                                          v-bind:title="action.title"
                                          v-html="action.value"
                                    >
                                    </span>
                                <a  v-else class="grid-data__table_actions_link"
                                    v-bind:class="{disable: (action.disable == null || entry[action.disable])}"
                                    href=""
                                    v-bind:title="action.title"
                                     v-on:click.prevent="runAction(action.action, action.method, entry[config.gridColumns[0].key], action.message)"
                                    v-html="action.value"
                                >
                                </a>
                            </li>
                        </ul>


                    </td>
                </tr>
                <transition name="fade" v-if="(config.requestContent.url && config.requestContent.key && contentdata.key == entry[config.requestContent.key])">
                    <tr >
                        <td v-bind:colspan="(config.gridColumns.length + (config.actionsCommon.length ? 1 : 0) + (config.actions.length ? 1 : 0))">
                            <div class="contentElement">
                                <content-element :contentdata="contentdata"> </content-element>
                            </div>
                        </td>
                    </tr>
                </transition>

            </template>
            </tbody>
        </table>

        <div class="row">
            <div class="grid-data__paginate col-sm-5">
                <ul class="grid-data__paginate_list">
                    <li class="grid-data__paginate_item" v-for="page in paginateButtons">
                        <span class="grid-data__paginate_span" v-if="page.page == dataPage" >{{ page.title }}</span>
                        <a class="grid-data__paginate_link" v-else v-on:click.prevent="setPage(page.page)" >{{ page.title }}</a>
                    </li>
                </ul>
            </div>
            <div class="grid-data__info col-sm-4">
                <div class="grid-data__info_text">
                    Elements from {{ gridData.from }} to {{ gridData.to }}. All {{ gridData.total }}.
                    Page {{ gridData.current_page }} from {{ gridData.last_page }}.
                </div>
            </div>
            <div class="grid-data__per_page form-group col-sm-3">
                <div class="col-sm-6">
                    <label for="grid-data-per-page">On page</label>
                </div>
                <div class="col-sm-6">
                    <select class="grid-data__per_page_select form-control" name="per_page" id="grid-data-per-page" v-model="localPerPage" >
                        <option class="grid-data__per_page_option "
                                v-for="option in config.perPages"
                                v-bind:value="option.count" >
                            {{ option.title }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div id="modal">
            <modal-component></modal-component>
        </div>

    </div>

